.home-page {
    width: 100%;
    padding: 40px 50px;

    .header-img-banner {
        width: 100%;
        height: 500px;
        overflow: hidden;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            position: relative;
        }

        .Title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 48px;
            font-weight: 700;
        }

        .SubTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 70%);
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
    }
}