@font-face {
  font-family: 'Manrope-200';
  src: url('../assets/fonts/Manrope-ExtraLight.ttf');
}

@font-face {
  font-family: 'Manrope-300';
  src: url('../assets/fonts/Manrope-Light.ttf');
}

@font-face {
  font-family: 'Manrope-400';
  src: url('../assets/fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope-500';
  src: url('../assets/fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope-600';
  src: url('../assets/fonts/Manrope-SemiBold.ttf');
}

@font-face {
  font-family: 'Manrope-700';
  src: url('../assets/fonts/Manrope-Bold.ttf');
}

@font-face {
  font-family: 'Manrope-700';
  src: url('../assets/fonts/Manrope-ExtraBold.ttf');
}
