@import 'tailwindcss';
@custom-variant hover (&:hover);

@theme {
  --max-width-container: 1516px;
  --breakpoint-xs: 320px;
  --breakpoint-2xs: 480px;
  --breakpoint-vid-lg: 693px;
  --breakpoint-fhd: 1920px;
  --breakpoint-2k: 2048px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  line-height: 1.6;
}
/* Remove default margins and paddings */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elements reset */

button {
  cursor: pointer;
}

/* Remove outline on focused elements */
:focus {
  outline: 0;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
}

.gradient-border-mask {
  display: flow-root;
  position: relative;
  padding: 1.2rem;
}

.gradient-border-mask::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.875rem;
  border: 0.375rem solid transparent;
  background: linear-gradient(to bottom, #fed5c7 0%, #e59bf5 50%, #7cbcfa 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.custom-select-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%229%22%20viewBox%3D%220%200%2016%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.1052%200.399703C14.981%200.272999%2014.8333%200.172476%2014.6708%200.10389C14.5083%200.0353038%2014.3341%20-5.09581e-08%2014.1582%20-5.86488e-08C13.9822%20-6.63394e-08%2013.808%200.0353038%2013.6455%200.10389C13.483%200.172476%2013.3353%200.272999%2013.2111%200.399703L7.99871%205.70275L2.78635%200.399702C2.53517%200.144148%202.19449%200.00057815%201.83926%200.000578135C1.48404%200.000578119%201.14336%200.144148%200.892172%200.399702C0.640988%200.655257%200.499877%201.00186%200.499877%201.36327C0.499877%201.72468%200.640988%202.07129%200.892172%202.32684L7.05833%208.6003C7.18262%208.727%207.33024%208.82753%207.49275%208.89611C7.65527%208.9647%207.82948%209%208.00542%209C8.18137%209%208.35558%208.9647%208.51809%208.89611C8.68061%208.82753%208.82823%208.727%208.95251%208.6003L15.1187%202.32684C15.6292%201.80747%2015.6292%200.932742%2015.1052%200.399703Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 1.2em center;
  background-size: 1em;
}

#customer-feedback .swiper-slide .slide-content {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

#customer-feedback .swiper-slide.swiper-slide-active .slide-content {
  transform: scale(1);
}

#customer-feedback .swiper-slide.swiper-slide-prev .slide-content {
  transform: scale(0.8) translateX(-1rem);
}

#customer-feedback .swiper-slide.swiper-slide-next .slide-content {
  transform: scale(0.8) translateX(1rem);
}

.feedback-border-mask {
  display: flow-root;
  position: relative;
}

.feedback-border-mask::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5rem;
  border: 0.2rem solid transparent;
  background: linear-gradient(to right, #ff7061 0%, #a033ff 50%, #0099ff 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

/*  -------- List collapse -------- */
.list-collapse {
  width: 100%;
}

.collapse-item.active .icon-angle-down {
  transform: rotateX(180deg);
}

.collapse-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s, opacity 0.15s;
  display: block;
}

.collapse-item.active .collapse-content {
  max-height: 50rem;
  opacity: 1;
}
.avoid-break {
  page-break-inside: avoid; /* Ngăn bị chia giữa trang */
  break-inside: avoid; /* Cho Chrome mới */
}

.avoid-page-break {
  page-break-before: always; /* Nếu muốn block bắt đầu từ trang mới */
}

.fade-in {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.fade-in.show {
  opacity: 1;
}
@layer components {
  .swiper-button-next,
  .swiper-button-prev {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px 0 rgb(0 0 0 / 0.06);
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b5563 !important;
    top: 50% !important;
    transition: background-color 0.2s;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #f3f4f6;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 0.25rem;
    font-weight: bold;
  }

  /* Vị trí nút */
  .swiper-button-next {
    right: 0.5rem;
  }
  .swiper-button-prev {
    left: 0.5rem;
  }

  .swiper-navigation-icon {
    width: 1rem !important;
    height: 1rem !important;
    font-weight: bold;
  }
}

/* Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Button */
.dropdown button {
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  text-align: left;
  color: rgba(0,0,0,0.45);
  cursor: pointer;
}

.dropdown.open button {
  border-color: #1677ff;
  color: rgba(0,0,0,0.85);
}

/* Menu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 999;
}

.dropdown.open .dropdown-content {
  display: block;
}

/* Item */
.dropdown-content a {
  padding: 8px 12px;
  display: block;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0,0,0,0.85);
}

.dropdown-content a:hover {
  background: #f5f5f5;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
